<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode= "Windows" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="nova_ataEntities" connectionString="metadata=res://*/AdodbEntity.csdl|res://*/AdodbEntity.ssdl|res://*/AdodbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.26.47.237\INOVACAO;initial catalog=shared_minutes;user id=palhaco;password=ProcessoInovacao@2015;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="destination" value="C:\Users\resource\Desktop\Nova Ata\"/>
    <add key="fromAddress" value="YXRhLnByb2Nlc3NvaW5vdmFjYW9AbmF0dXJhLm5ldA==" />
    <add key="userLogin" value="ODE5NzEwOTU=" />
    <add key="userPassword" value="bmF0dXJhQDkx" />
    <add key="userDomain" value="TkFUVVJBQlI=" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="WebServices.asmx" />
        <add value="WebService.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>